body {
    font-family: 'Cabinet Grotesk', sans-serif;
    margin: 0;
    top: 0;
}

#contents {
    margin-left: 18rem;
}

header {
    background-color: #FFEF0C;
    height: 100%;
    width: 18rem;
    position: fixed;
    z-index: 10;
}

header > h1 {
    margin: 1.5rem;
    font-weight: 900;
}

header > nav {
    margin-top: 1rem;
}

header > nav > ul > li {
    margin-bottom: 1rem;
}

header > nav > ul > li > a {
    color: black
}

main {
    padding: 4rem 3rem;
}

main > h1 {
    font-weight: 700;
}

.row-catalog {
    display: flex;
    justify-content: space-evenly;
}

#first-row-catalog {
    margin-bottom: 5rem;
}

.product-unit {
    position: relative;
    width: 18rem;
    height: 30rem;
}

.product-unit > img {
    width: 100%;
}

.cart-button {
    background-color: #FF5100;
    width: 20%;
    display: flex;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cart-button:hover {
    cursor: pointer;
}

.item-cart {
    margin: auto;
    padding: .5rem 1rem;
}

.total-order-box {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: white;
    border: 4px solid black;
    box-shadow: 3px 5px 0 black;
}

.amount-order-input-box {
    width: 50%;
}

.btn-beli {
    margin-top: 1rem;
    width: 5rem;
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 3rem;
    padding: .5rem;
}

.btn-beli:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: background-color .5s ease, border .5s ease;
}

footer {
    margin-top: 5rem;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}

#footer-content-container {
    padding: 2rem 3rem;
}

#copyright-section {
    position: absolute;
    bottom: 0;
    padding: 2rem 3rem;
}

.white-border {
    border: none;
    border-top: 2px solid white;
}