body {
    font-family: 'Cabinet Grotesk', sans-serif;
    margin: 0;
    top: 0;
    display: flex;
    height: 1000px;
}

#contents {
    margin-left: 18rem;
}

header {
    background-color: #FFEF0C;
    height: 100%;
    width: 18rem;
    position: fixed;
    z-index: 10;
}

header > h1 {
    margin: 1.5rem;
    font-weight: 900;
}

header > nav {
    margin-top: 1rem;
}

header > nav > ul > li {
    margin-bottom: 1rem;
}

header > nav > ul > li > a {
    color: black
}

main {
    padding: 4rem 3rem;
}

#hero {
    margin: 1rem 0rem 2rem 0rem;
    display: flex;
}

#hero-text-container {
    margin: 2rem 1rem;
    width: 50%;
}

#hero-text > h1 > span {
    font-size: larger;
    font-weight: 600;
}

#container-btn-beli-sekarang {
    margin-top: 3rem;
}

#btn-beli-sekarang {
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: .5rem 1rem;
    font-size: large;
}

#hero-img {
    width: 50%;
}

#hero-img > img {
    border-radius: 50%;
    width: 70%;
}

.products,  .customer-testimonials{
    margin: 1rem 0rem 2rem 0rem;
}

.products-container {
    display: flex;
    justify-content: space-evenly;
}

.img-card {
    margin: 0rem 1rem;
    height: 15rem;
}

.img-card > img {
    height: 100%;
}

.testimonials {    
    display: flex;
    flex-direction: column;
}

.img-testi {
    margin: 0 auto;
}

footer {
    margin-top: 5rem;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}

#footer-content-container {
    padding: 2rem 3rem;
}

#copyright-section {
    position: absolute;
    bottom: 0;
    padding: 2rem 3rem;
}

.white-border {
    border: none;
    border-top: 2px solid white;
}